<!-- #region header -->
<header class="header">
  <div class="container header-container">
      <nav class="navigation">
          <a href="./index.html" class="header-logo"><img src="./images/logo.png" alt="logo" />
              Product</a>
          <ul class="list-navigation">
              <li class="list-navigation-item">
                  <a href="./index.html" class="list-navigation-link current">Product</a>
              </li>
              <li class="list-navigation-item">
                  <a href="./pricing.html" class="list-navigation-link">Pricing</a>
              </li>
              <li class="list-navigation-item">
                  <a href="./customer.html" class="list-navigation-link">Customers</a>
              </li>
              <li class="list-navigation-item">
                  <a href="./resources.html" class="list-navigation-link">Resources</a>
              </li>
          </ul>
      </nav>
      <ul class="header-list-buttons">
          <li class="header-list-btn-item">
              <button type="button" class="header-list-btn sign-in">
                  Sign In
              </button>
          </li>
          <li class="header-list-btn-item">
              <button type="button" class="header-list-btn sign-up">
                  Sign Up
              </button>
          </li>
      </ul>
  </div>
</header>
<!-- #endregion header -->